<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="styles.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@400;500&display=swap" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <title>TormentSheet</title>
</head>
<body>
  <div id="app">
    <div class="header">
      <img :src=image alt="">
    </div>
    <div class="body">
      <h1 v-if="aba">Teste 1</h1>
      <h1 v-if="!aba">Teste 2</h1>

      <button @click="trocaAba()">Trocar Aba</button>
    </div>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        aba: true,
        // Inserir aqui URL do Avatar
        image: './assets/Menphys.jpg'
      },
      methods: {
        trocaAba() {
          this.aba = !this.aba;
        }
      }
    })
  </script>
</body>
</html>